/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
magus.sql
magus.zip
Homestead.yaml
/config/telescope.php
/Providers/TelescopeServiceProvider.php
.idea'.idea'
